doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")


  body
    form(hx-post='https://updatetask-hkfrkn445q-uc.a.run.app' hx-trigger='submit' class='w-full max-w-sm')
      label(for="title") Task Title:
      input(type="text", id="title", name="title", value=task.title required, class='px-2 py-1 border rounded m-2')
      br
      label(for="description") Description:
      input(type="text", id="description", name="description", value=task.description, required, class='px-2 py-1 border rounded m-2')
      br
      label(for="dueDate") Due Date:
      input(type="date", id="dueDate", name="dueDate", value=task.dueDate, required, class='px-2 py-1 border rounded m-2')
      br
      input(type="hidden", id="id", name="id", value=id)
      div(class='row')
        div(class='column')
            button(type="submit", class="bg-slate-500 text-white font-bold py-1 px-2 rounded hover:bg-slate-700") Save
        div(class='column')
            button( class="bg-slate-500 text-white font-bold py-1 px-2 rounded hover:bg-slate-700" type="button" hx-get='https://blankdiv-hkfrkn445q-uc.a.run.app' hx-trigger='click' hx-target="#editTaskForm") Cancel